.annotated {
    cursor: pointer;
}

#MLdivtoshow {
   display: none;
    position: absolute;
    cursor: pointer;
    border: 1px solid green;
    background-color: black; 
    padding: 10px;
    z-index: 1000;
	color: #FFFFFF; 
	border-radius: 6px;
	
}

#MLdivtoshow::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555;
}

[Gartner_InspectElement=true] {
	border-style: dashed !important;
	border-width: 2px !important;
	border-color: red !important;
	opacity: '1';
  }